<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{room.name}}</title>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
{{room.name}}
<div id="chatRoom">

</div>
<script>
    $(function () {
        let sock = new SockJS("http://localhost:8081/stomp-chat");
        let client = Stomp.over(sock);
        let name = '{{room.name}}';
        let idx = {{room.idx}};
        client.connect({}, function () {
            client.send(`/app/chat/${idx}/join`, {}, JSON.stringify({idx: 1, name: 'member'}));
            client.send(`/app/chat/${idx}/message`,{}, JSON.stringify({from : name, message: 'message'}));
            client.subscribe(`/topic/chat/${idx}/message`,(res)=>{
                let message = JSON.parse(res.body);
                $("#chatRoom").append(`<p>${message.message}</p>`)
            });
        });
    });
</script>
</body>
</html>